/* Base theme */
@import url('https://stickfab.github.io/pc-fluenticons/src/fluenticons-base.css');

/* Addons (comment to disable) */

/* Settings icons */
@import url("https://stickfab.github.io/pc-fluenticons/src/fluenticons-settings.css");

/* Context icons */
@import url("https://stickfab.github.io/pc-fluenticons/src/fluenticons-context.css");

/* ↓  Any modifications go below  ↓ */
